JWT_SECRET=changeme # 65 character random string
HASURA_ADMIN_SECRET=changeme # string used to identify the admin
ENDPOINT_PORT=2015 # exposed server port
POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
PGADMIN_EMAIL=changeme@gmail.com
PGADMIN_PASSWORD=changeme
